<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sedia.resume.repository.LicenseMapper">

    <resultMap id="LicenseResultMap" type="com.sedia.resume.entity.LicenseEntity">
    <!-- 這邊是否會關連到我們用SN及UID驗證 -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
	<!-- 查詢第一筆資料 -->
	<select id="findFirstLicense" resultMap="LicenseResultMap">
        SELECT * FROM LICENSE OREDR BY SN LIMIT 1;
    </select>
    <!-- 查詢所有資料 -->
    <select id="findAll" resultMap="LicenseResultMap">
        SELECT * FROM LICENSE ;
    </select>
    <!-- 新增資料 -->
    <select id="insertLicense" resultMap="LicenseResultMap">
        INSERT INTO RESUME.LICENSE (SN,USER_ID,LICENSE_NAME,CR_DATETIME,UP_DATETIME) VALUES (#{#{SN},#{USER_ID},#{LICENSE_NAME},#{CR_DATETIME},#{UP_DATETIME});
    </select>
    <!-- 更新資料 -->
	<!-- 0428SN跟UID的判定結構要在哪邊回傳 -->
    <select id="updateLicense" resultMap="LicenseResultMap">
        UPDATE RESUME.LICENSE SET (SN,USER_ID,LICENSE_NAME,UP_DATETIME) VALUES (#{SN},#{USER_ID},#{LICENSE_NAME},#{UP_DATETIME});
    </select>
	<!-- 刪除資料 -->
    <select id="deleteLicense" resultMap="LicenseResultMap">
        DELETE FROM RESUME.LICENSE WHERE ID = #{SN};
    </select>
    <!-- 確認資料是否存在 -->
    <!-- 0428如何讓mysql回傳boolean -->
    <select id="isExistExperience" resultMap="LicenseResultMap">
        SELECT * FROM LICENSE WHERE ID = #{id};
    </select>


</mapper>