<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sedia.resume.repository.ResetPasswordTokenMapper">

    <resultMap id="resultMap" type="com.sedia.resume.entity.ResetPasswordTokenEntity">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="UID" property="uid" jdbcType="INTEGER"/>
        <result column="TOKEN" property="token" jdbcType="VARCHAR"/>
        <result column="EXPIRY_DATE" property="expiryDate" jdbcType="TIMESTAMP"/>
        <result column="IS_USED" property="isUsed" jdbcType="TINYINT"/>
    </resultMap>
    
    <insert id="save" parameterType="com.sedia.resume.entity.ResetPasswordTokenEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO RESET_PASSWORD_TOKEN (UID, TOKEN, EXPIRY_DATE) VALUES
        (#{uid}, #{token}, #{expiryDate});
    </insert>
    
    

</mapper>