<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	  <title></title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
	  <style type="text/css">
	    @page {
	      size: A4;
	    }

	    body {
	      width: 210mm;
	      height: 297mm;
	      margin: auto;
	      background-color: #D6E0E0;
	    }
	  </style>
</head>

<body>
  <div class="container mt-5" >
    <div class="row">
      <!-- column left -->
      <div class="col-lg-3 lh-lg text-center text-white py-2" style="background-color: rgb(14, 61, 61);">
        <img class="img-fluid rounded-circle my-2" src="images/pic.jpg">
        <div class="text-center p-1">
          <h5 class="text-warning"><strong>張亞亭</strong></h5>
          <p>UI設計師</p>
        </div>
        <div class="information py-2 px-1">
          <h5 class="text-warning"><strong>資本資料</strong></h5>
          
          <div class="border-bottom border-white">
            <h6 class="d-inline">姓名</h6>
            <h6 class="d-inline">張亞亭</h6>  
          </div>

          <div class="border-bottom border-white">
            <h6 class="d-inline">生日</h6>
            <h6 class="d-inline">9/2</h6>  
          </div>

          <div class="border-bottom border-white">
            <h6 class="d-inline">姓別</h6>
            <h6 class="d-inline">女</h6>  
          </div>

          <div class="border-bottom border-white">
            <h6 class="d-inline">電話</h6>
            <h6 class="d-inline">0916-879-452</h6>  
          </div>
        </div>

        <div class="information py-2 px-1">
          <h5 class="text-warning"><strong>自我介紹</strong></h5>
          <div class="border-white">
            <span class="lh-lg">現職是一位UI設計師，從事設計工作約十年經驗。包含平面、多媒體、網頁、簡報、UI及APP設計等等，UI設計方面參與了許多 kiosk互動UI、sass後台、專案網站及app的項目設計。</span>  
          </div>
        </div>

        <div class="information py-2 px-1">
          <h5 class="text-warning"><strong>個人連結</strong></h5>
          
          <div>
            <h6 class="d-inline"><i class="fab fa-facebook me-1"></i>xxxxxx</h6>
          </div>

          <div>
            <h6 class="d-inline"><i class="fab fa-google-plus me-1"></i>xxxxxx</h6>
          </div>

          <div>
            <h6 class="d-inline"><i class="fab fa-linkedin me-1"></i>xxxxxx</h6>
          </div>

          <div>
            <h6 class="d-inline"><i class="fab fa-github me-1"></i>xxxxxx</h6>
          </div>
        </div>

      </div>
      
      <!-- column right -->
      <div class="col-lg-9 lh-lg p-0 m-0" style="background-color: white">
        <div class="edcucation p-0">
          <h5 class="p-2" style="background-color: #95B9B9;"><i class="fas fa-graduation-cap me-1"></i><strong>教育</strong></h5>
          
          <div class="card border-white p-2">
            <h5 class="card-header d-inline bg-white"><strong>輔仁大學</strong><figcaption class="blockquote-footer d-inline"><cite title="Source Title">2019/9~2020/12</cite></figcaption></h5>
            <div class="card-body">
              <h6 class="card-title d-inline"><strong>軟體工程與數位創意學士學程</strong></h6>
              <span class="badge bg-success">畢業</span>
            </div>
          </div>

          <div class="card border-white p-2">
            <h5 class="card-header d-inline bg-white"><strong>xx高中</strong><figcaption class="blockquote-footer d-inline"><cite title="Source Title">2016/9~2019/6</cite></figcaption></h5>
            <div class="card-body">
              <h6 class="card-title d-inline"><strong>理工組</strong></h6>
              <span class="badge bg-success">畢業</span>
            </div>
          </div>
        </div>

        <div class="edcucation py-2">
          <h5 class="p-2" style="background-color: #95B9B9;"><i class="fas fa-briefcase me-1"></i><strong>工作經歷</strong></h5>
          
          <div class="card border-white p-2">
            <h5 class="card-header d-inline bg-white"><strong>UI設計師</strong><figcaption class="blockquote-footer d-inline"><cite title="Source Title fs-6">2019/9~2020/12</cite></figcaption></h5>
            <div class="card-body">
              <h5 class="card-title d-inline"><strong>很厲害科技公司</strong></h5>
              <p class="fs-6">VI/Media Kit/平面/海報/型錄/DM/EDM/banner
                網站維護/專案網站建置/APP/UI設計
                設計製作平面、海報、型錄、DM及EDM…等各種輸出設計
                banner、電子報、EDM、電子賀卡、活動專案網頁、UI…等設計</p>
              <span class="badge bg-success">UI/UX設計</span>
              <span class="badge bg-success">網頁設計</span>
              <span class="badge bg-success">平面設計</span>
              <span class="badge bg-success">APP設計</span>
            </div>
          </div>

          <div class="card border-white p-2">
            <h5 class="card-header d-inline bg-white"><strong>UI設計師</strong><figcaption class="blockquote-footer d-inline"><cite title="Source Title fs-6">2019/9~2020/12</cite></figcaption></h5>
            <div class="card-body">
              <h5 class="card-title d-inline"><strong>很厲害科技公司</strong></h5>
              <p class="fs-6">VI/Media Kit/平面/海報/型錄/DM/EDM/banner
                網站維護/專案網站建置/APP/UI設計
                設計製作平面、海報、型錄、DM及EDM…等各種輸出設計
                banner、電子報、EDM、電子賀卡、活動專案網頁、UI…等設計</p>
              <span class="badge bg-success">UI/UX設計</span>
              <span class="badge bg-success">網頁設計</span>
              <span class="badge bg-success">平面設計</span>
              <span class="badge bg-success">APP設計</span>
            </div>
          </div>
        </div>

        <div class="skill p-0">
          <h5 class="p-2" style="background-color: #95B9B9;"><i class="fas fa-certificate me-1"></i><strong>專業技能</strong></h5>
          <h6 class="ps-3"><strong>網頁設計</strong></h6>
              <span class="ms-3 badge bg-success">HTML5</span>
              <span class="badge bg-success">CSS3</span>
              <span class="badge bg-success">Javascript</span>
              <span class="badge bg-success">jQuery</span>
              <span class="badge bg-success">RWD</span>
              <span class="badge bg-success">Bootstrap</span>
              <span class="badge bg-success">網頁切版</span>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->


  </body>
</html>
